/* CSS Document */
/* --- Banner / Jumbotron --- */
.jumbotron-fluid {
	background-image: url('../images/courthouse-steps.jpg');
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h2-border {
	border-top: 3px solid #FFF;
}
.active-link {
	padding-left: 10px;
	color: #EE4266 !important;
}
