/* CSS Document */
/* --- Banner / Jumbotron --- */
.banner-main {
	background-image: url("../images/courthouse-steps.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh !important;
	overflow: hidden;
}

.banner-headline {
	margin-top: 6em;
}