/* --- Banner / Jumbotron --- */
.banner-main {
	background-image: url("../images/contact-us.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h2-border {
	border-top: 3px solid #FFF;
}