/* --- Banner / Jumbotron --- */
.banner-main {
	background-image: url("../images/contact-us.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.form-control:focus {
	box-shadow: none;
	border-bottom: 2px solid rgba(18, 146, 185, 0.6);
}

.form-btn {
	border: 2px solid #1292B9;
	border-radius: 20px;
	background-color: #1292B9;
	padding: 0.2em 1.2em;
	color: #FFF;
	transition: all 200ms ease;
}

.form-btn:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #1292B9;
}
