/* CSS Document */

/* --- Color Palette ----------------
Primary:   #004E98     //  Usafa Blue
Secondary: #3A6EA5     //  Queen Blue
Tertiary:  #EE4266     //  Paradise Pink
light:     #EBEBEB     //  Isabelline
Light 2:   #C0C0C0     //  Silver
Dark:      #191923     //  Eerie Black
---------------------------------- */

body {
	position: relative;
	background-image: url('../images/courthouse.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: "open sans";
}

h1, h2, h3, h4, h5, h6 {
	font-family: raleway !important;
}

h1 {
	font-size: 3.5em !important;
}

a, a:visited {
	color: #3a6ea5;
}

a:hover {
	text-decoration: none;
	color: #EE4266;
}

section {
	background-color: #EBEBEB !important;
}

.opaque {
	opacity: .9;
}

.justify {
	text-align: justify;
}

/* --- parallax effect class - Apply this class to a div for parallax effect --- */
.parallax {
	background-color: rgba(0,0,0,.6);
	color: #FDF6F9;
}

/* --- Return to top button formatting --- */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: #1292B9;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #1292b9;
    opacity: 1;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* --- Navbar --- */
.bg-dark {
	background-color: #191923 !important;	
}
.nav-link {
	color: #C0C0C0 !important;
}

.nav-link:hover {
	color: #EBEBEB !important;
}

.navbar-brand {
	width: 50px !important;
}

.dropdown-item {
	color: #C0C0C0 !important;
}

.dropdown-item:hover {
	color: #191923 !important;
	background-color: #EBEBEB !important;
}

/* --- Banner / Jumbotron --- */
.banner-main {
	background-image: url("../images/banner-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh !important;
	overflow: hidden;
}

.banner-headline {
  background-color: #FEFDF9;
}

.banner-headline h1, h5 {
	color: #1E5578;
}

.seal {
	height: 100px !important;
	width: auto;
}
